div nav
{
    background: rgb(232,88,151);
    background: radial-gradient(circle, rgba(232,88,151,1) 0%, rgba(26,255,0,1) 100%); 
float: left;
width: 10%;
margin: 10px;
}

header nav
{
display: inline-block;
}

p, li, h1, h2, h3
{
    color: rgb(140, 0, 255);
}

h1
{
    box-shadow: black 10px 10px 10px;
}

section
{
    background: rgb(251,227,63);
    background: radial-gradient(circle, rgba(251,227,63,1) 0%, rgba(207,70,252,1) 100%); 
float: left;
width: 70%;
margin: 30px;
box-shadow: white 15px 15px 15px;
}

.clear
{
clear: both;
}

body
{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

header nav ul li
{
    display: inline;
    margin: 15px;
    box-shadow: yellow 5px 5px 5px;
}

#lateral
{
    box-shadow: pink 10px 10px 10px; 
    color: red;
}

footer
{
display: inline;
}


.demo{
    width:400px;
    height:400px;
    font-size:5em;
    float:left;
    text-align:center;
  }
  
  .rainbow-bg{
          animation: rainbow-bg 2.5s linear;
          animation-iteration-count: infinite;
  }
  
  .rainbow{
          animation: rainbow 2.5s linear;
          animation-iteration-count: infinite;
  }
  
  @keyframes rainbow-bg{
          100%,0%{
              background-color: rgb(255,0,0);
          }
          8%{
              background-color: rgb(255,127,0);
          }
          16%{
              background-color: rgb(255,255,0);
          }
          25%{
              background-color: rgb(127,255,0);
          }
          33%{
              background-color: rgb(0,255,0);
          }
          41%{
              background-color: rgb(0,255,127);
          }
          50%{
              background-color: rgb(0,255,255);
          }
          58%{
              background-color: rgb(0,127,255);
          }
          66%{
              background-color: rgb(0,0,255);
          }
          75%{
              background-color: rgb(127,0,255);
          }
          83%{
              background-color: rgb(255,0,255);
          }
          91%{
              background-color: rgb(255,0,127);
          }
  }
  
  @keyframes rainbow{
          100%,0%{
              color: rgb(255,0,0);
          }
          8%{
              color: rgb(255,127,0);
          }
          16%{
              color: rgb(255,255,0);
          }
          25%{
              color: rgb(127,255,0);
          }
          33%{
              color: rgb(0,255,0);
          }
          41%{
              color: rgb(0,255,127);
          }
          50%{
              color: rgb(0,255,255);
          }
          58%{
              color: rgb(0,127,255);
          }
          66%{
              color: rgb(0,0,255);
          }
          75%{
              color: rgb(127,0,255);
          }
          83%{
              color: rgb(255,0,255);
          }
          91%{
              color: rgb(255,0,127);
          }
  }